
body{
    background-color: black;
    background-image: url(../Image/space.png);
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    background-color: white;
    color: silver;
}
#main-menus {
    display:   inline    /*inline;*/ 
}
.main-menu {
    text-align: center;
    color: silver;
    position: relative;
    
}

 h1{
        font-size: 170px;
        margin-bottom: 0px;
    }
.main-menu button{
    background-color: white;
    width: 55%;
    top: 55%;
    font-size:40px;
    padding: 25px;
    margin: 20px;
    text-align: left;
}
#play{
    margin-top: 175px;
}

#directions{
    display: none;
    justify-content: center;
    width: 90%;
    color: black;
    text-align: left;
}

 #how-to-play{
    position:relative;
    border-radius: 10px;
    border-color: slategray;
    border: 10px;
    background-color: silver;
    width: 90%;
    padding: 20px;
    list-style-type: none;
}   
#fastness{
    vertical-align: top;
}


.rules-list{
    padding: 10px;
    font-size:40px;
    font-family: serif;
}
h2{
    font-size: 90px;
    margin: 30px;
}

#return{
    height: 60px;
    width: 70px;
    background-color: silver;
}


#map{
    display:none;
}

#map-ship{
    position: absolute;
    top: 50%;
    display: block;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    left: 50%;
    transform-origin: center;
}

#input-screen{
    display: none;
}

#pop-up-ship{
    position: absolute;
    top: 40%;
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    left: 13%;
    transform-origin: center;
}
#pop-up-menu{
    top: 33%;
    position: absolute;
    border:0;
    width: 20%;
    left: 25%;
    list-style-type: none;
}

.menu-list{
    text-align: center;
    display:grid;
    height: 70px;
    font-size:40px;
    font-family: serif;
}

#pop-up-speed{
        display:none;
        top: 25.9%;
        position: absolute;
        border:0;
        width: 20%;
        left: 45.1%;
        list-style-type: none;
    }

.pop-up-menu-list{
    text-align: center;
    display:grid;
    height: 70px;
    font-size:40px;
    font-family: serif;
    
}
.menu-button{
    font-size:50px;
    text-align: left;
}

#angle-input{
    position: absolute;
    left: 48%;
    top: 42%;
    width: 20%;
    height: 67px;
    display: none;
}

#launch{
    background-color: red;
}
/* transform: rotate(0deg)
